#sec{
	width: 640px;
	height: 500px;
	/* margin: 0 auto; */
}
#secdenglu{
	width: 100%;
	height: 50%;
	display: block;
}
#secbot{
	width: 100%;
	height: 50%;
}
#secdenglu input{
	display: block;
	width: 300px;
	margin: 0 auto;
	margin-top: 35px;
}