*{
	margin: 0px;
	padding: 0px;
	
}
.all{
	width:300px;
	height: 300px;
	margin: 0 auto;
	padding-top: 20px;
	padding-left: 90px;
	border: 1px black solid;
	background-color: bisque;
}
.all:hover {
		/* 向内扩散 */
		box-shadow: 0px 0px 10px rgba(255, 0, 0, 5) inset;
}	
/* 头 */
.headRadius{
	width: 190px;
	height: 172px;
	background: cornflowerblue;
	border: 1px solid black;
	border-radius: 120px;
	/* 设置阴影 */
	box-shadow: 0px 0px 6px 0px  rgba(255, 0, 4, 5);
}
.headRadius:hover {
		/* 向内扩散 */
		box-shadow: 0px 0px 10px rgba(255, 255, 0, 5) inset;
}	
/* 眼睛 */
.eye{
	width: 40px;
	height: 45px;
	position: absolute;
	margin-top: 23px;
	background: white;
	border: 1px solid black;
	border-radius: 130px;
	box-shadow: 0px 0px 4px 0px rgba(255, 0, 4, 5);
	z-index: 30;
}
.eye:hover {
		/* 向内扩散 */
		box-shadow: 0px 0px 10px rgba(255, 255, 0, 5) inset;
	}	
.eye1{
	margin-left: 53px;
}
.eye2{
	margin-left: 93px;
}
/* 眼球 */
.eyeball{
	width: 16px;
	height: 16px;
	position: absolute;
	margin-left: 9px;
	margin-top: 20px;
	background: black;
	border-radius: 120px;
}
.eyeball_in{
	width: 5px;
	height: 5px;
	position: absolute;
	background: white;
	border-radius: 12px;
	box-shadow: 0px 0px 9px 0px rgba(255,255,255,5);
}
/* face */
.face{
	width: 155px;
	height: 128px;
	position: absolute;
	margin-top:40px;
	margin-left:16px ;
	background: white;
	border: 1px black solid;
	border-radius:120px ;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,5);
	z-index: 4;
}
.face:hover {
		/* 向内扩散 */
		box-shadow: 0px 0px 10px rgba(0, 255, 255, 5) inset;
}	
/* 鼻子 */
.nose{
	width:20px;
	height: 20px;
	position: absolute;
	margin-top: 24px;
	margin-left: 65px;
	background: radial-gradient(white 1%,red);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,5);
	border-radius: 20px;
	border:1px solid black;
}
/* 鼻子下面的竖线 */
.nose_vertical{
	width: 2px;
	height: 56px;
	background: black;
	margin-top: 45px;
	margin-left: 75px;
}
/* 嘴巴 */
.mouth{
	width: 120px;
	height:120px;
	position: absolute;
	margin-top: 21px;
	margin-left: 33px;
	/* 背景透明 */
	background: transparent;
	border-radius: 150px;
	/* 上左右透明 */
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 2px solid black;
	z-index: 5;
}
/* 胡须 */
.whisker{
	width: 2px;
	height: 40px;
	position: absolute;
	background: black;
	box-shadow: 0px  0px 1px 0px rgba(0,0,0,5);
	z-index:5;
}
.w1{
	margin-top: 65px;
	margin-left:45px ;
	transform:rotate(115deg);
}
.w2{
    margin-top: 80px;
    margin-left: 42px;
    transform: rotate(90deg);
}
.w3{
    margin-top: 95px;
    margin-left: 44px;
    transform: rotate(65deg);
}
.w4{
    margin-top: 65px;
    margin-left: 140px;
    transform: rotate(65deg);
}
.w5{
    margin-top: 80px;
    margin-left: 143px;
    transform: rotate(90deg);
}
.w6{
    margin-top: 95px;
    margin-left: 140px;
    transform: rotate(115deg);
}
.necktie{
	width: 118px;
	height: 11px;
	position: absolute;
	margin-top: 0px;
	margin-left: 34px;
	background: crimson;
	border-radius:10px ;
	border:2px solid black;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,5);
	z-index: 5;
}
.necktie:hover {
		/* 向内扩散 */
		box-shadow: 0px 0px 10px rgba(6, 6, 255, 5) inset;
}	
/*左边袖子*/
.leftSleeve{
		width: 29px;
        height:58px;
        position: absolute;
        margin-top: 0px;
        margin-left: 25px;
        background: cornflowerblue;
        border-radius: 60px 0px 12px 12px;
        border:1px solid black;
        transform: rotate(58deg);/*倾斜角度*/
        z-index: 1;
		box-shadow: 0px 0px 6px 0px  rgba(255, 0, 4, 5);
}
.leftSleeve:hover {
		/* 向内扩散 */
		box-shadow: 0px 0px 10px rgba(255, 255, 0, 5) inset;
}	
/*右边袖子*/
.rightSleeve{
width: 29px;
        height:58px;
        position: absolute;
        margin-top: 0px;
        margin-left: 135px;
        background: cornflowerblue;
        border-radius: 12px 12px 0px 60px;
        border:1px solid black;
        transform: rotate(120deg);
        z-index: 1;
		box-shadow: 0px 0px 6px 0px  rgba(255, 0, 4, 5);
}
.rightSleeve:hover {
		/* 向内扩散 */
		box-shadow: 0px 0px 10px rgba(255, 255, 0, 5) inset;
}	
/*衣服中间矩形*/
.clothes{
        width: 110px;
        height: 82px;
        position: absolute;
        margin-top: 0px;
        margin-left: 40px;
        background: cornflowerblue;
        border-left: 1px solid black;
        border-right: 1px solid black;
        z-index: 2;
		box-shadow: 0px 0px 6px 0px  rgba(255, 0, 4, 5);
}
.clothes:hover {
		/* 向内扩散 */
		box-shadow: 0px 0px 10px rgba(255, 255, 0, 5) inset;
}	
/*衣服中间的大白圆*/
.Circular{
        width: 90px;
        height:90px;
        position: absolute;
        margin-top: 0px;
        margin-left: 50px;
        background: greenyellow;
        border: 1px solid black;
        border-radius: 120px;
        z-index: 3;
		box-shadow: 0px 0px 6px 0px  rgba(255, 0, 4, 5);
}
.Circular:hover {
		/* 向内扩散 */
		box-shadow: 0px 0px 10px rgba(255, 12, 12, 5) inset;
}	
.midCircular{
	width: 70px;
	height:35px;
	position: absolute;
	margin-top: 45px;
	margin-left: 10px;
	border-radius: 0px 0px 100px 100px;/*半圆*/
	background: deeppink;
	border: 1px solid black;
	box-shadow: 0px 0px 6px 0px  rgba(6, 10, 255, 5);
}
.midCircular:hover {
		/* 向内扩散 */
		box-shadow: 0px 0px 10px rgba(255, 12, 12, 5) inset;
}	
/*脚*/
.foot{
        width: 72px;
        height:18px;
        position: absolute;
		margin-top:90px;
        background: cornflowerblue;
        border-radius: 18px 13px 13px 8px;
        border: 1px solid black;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,5);/*设置阴影*/
        animation: wave 2s infinite;/*动画调用*/
        transform-origin: center right;/*旋转中心点*/
        z-index: 4;
	box-shadow: 0px 0px 6px 0px  rgba(255, 0, 4, 5);
}
.foot:hover {
		/* 向内扩散 */
		box-shadow: 0px 0px 10px rgba(255, 255, 0, 5) inset;
}	
.leftFoot{
        /* margin-top: 0px; */
        margin-left: 20px;
}
.rightFoot{
        /* margin-top: 0px; */
        margin-left: 100px;
}