@charset "utf-8";

.box{
	width: 100px;
	height: 100px;
	position: fixed;
	top: 0px;
	left: 70%;
	float: left;
	background: url(../img/1.jpg);
	/*背景图片大小*/
	background-size: 100% 100%;
	/*外边距： 上下距离为100px  左右自适应距中*/
	margin: 100px auto;
	/*边框:边框宽度    类型(dashed虚线   /  solid实线)     颜色 */	     
	border: 3px solid blueviolet;
	/*圆角:圆角半径  （%为圆  px为旋转角）*/
	border-radius: 50%;   
	/*border-radius: 50px;*/
	/*阴影：x轴偏移量  y轴偏移量   虚幻度（虚化度的值越大，阴影越模糊）   阴影颜色*/
	box-shadow: 10px 10px 10px black;
	/*旋转  +是顺时针  -是逆时针*/
	transform: rotate(0deg) scale(1);
	/*过渡时间*/
	transition: all 0.3s;
}
/*鼠标悬停*/
.box:hover{
	/*鼠标触碰是旋转转数*/
	transform: rotate(3600deg) scale(3);
	/*缩放效果*/
	/*transform: scale(1.5);*/
	/*鼠标触碰结束后*/
	background: url(../img/3.jpg);
	background-size: 100% 100%;
}

